:root {
    --first: #159be3;
    --second: #1d10c4;

    --purple: #8832dd;
    --blue: #1c61d9;

    --dark: #21262f;
    --yellow: #e3db15
}

/*top menu*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Avenir';
}

body {
    padding: 0;
}

html, body {
    width: 100%;
    height:100%;
}

.div-nav {

}

nav {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav ul {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to right, var(--second), var(--first));
}

nav li {
    border: 0 solid var(--first);
    padding: 5px;
}

nav li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

nav li a:hover {
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    float: left;
}

li:last-child {
    float: none;
}

/*wallpaper*/

.div-main {
    background-image: url("../images/16.jpg");
    background-size: cover;
}

.div-top {
    display: flex;
    height: 50vh;
    justify-content: space-evenly;
    align-items: center;
    /*background-image: url("../images/10.jpg");*/
}

.div-top-left {
    width: 33%;
    padding: 10px 25px 15px 25px;
    text-align: justify;
    background: linear-gradient(to right, var(--second), var(--first));
    border-radius: 30px 50px;
}

.div-top-left h1 {
    text-align: left;
    color: white;
    font-size: 35px;
}

.div-top-left p {
    color: white;
}

.div-top-right {
    width: 60%;
}

.div-top-right img {
    width: 100%;
    animation: moveInLeft ease-in-out 3s;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(200px)
    }

    100% {
        opacity: 1;
        transform: translate(0)
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(-200px)
    }

    100% {
        opacity: 1;
        transform: translate(0)
    }
}

.div-middle {
    display: flex;
    height: 50vh;
    justify-content: space-evenly;
    align-items: center;
    /*background-image: url("../images/10.jpg");*/
    /*background-size: cover;*/
}

.div-middle-left {
    width: 55%;
}

.div-middle-left img {
    width: 90%;
    animation: moveInRight ease-in-out 3s;
}

.div-middle-right {
    width: 40%;
    padding: 10px 25px 15px 25px;
    text-align: justify;
    background: linear-gradient(to left, var(--second), var(--first));
    border-radius: 30px 50px;
}

.div-middle-right h1 {
    text-align: left;
    color: white;
    font-size: 35px;
}

.div-middle-right p {
    color: white;
}

/*bestsellers*/

.div-bestsellers {
    display: flex;
    justify-content: space-evenly;
    background-image: url("../images/41.jpg");
    background-size: cover;
}

.div-bestsellers-child {
    padding: 40px 0 40px 0;
}

.div-bestsellers-child div {
    box-shadow: 1px 1px 1px #ddd;
}

.div-bestsellers-child h1 {
    color: white;
    margin: 0;
    text-align: center;
    font-size: 30px;
}

.div-bestsellers-child-top {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    color: white;
}

hr {
    border: 1px white solid;
}

.div-bestsellers-child-top ul {
    display: flex;
    flex-direction: column;
}

.div-bestsellers-child-top ul {
    list-style: none;
}

.div-bestsellers-child-top ul li {
    text-align: left;
}

.div-bestsellers-child-top ul li::before {
    content: "\2022"; /*►*/
    color: white;
    width: 1em;
    margin: 0 10px 0 10px;
}

.div-bestsellers-child-image {
    width: 400px;
    height: 170px;
}

.div-bestsellers-child-bottom {
    width: 400px;
    font-size: 40px;
    color: white;
    text-align: center;
    border-radius: 10px;
}

.div-bestsellers-child img {
    animation: moveCarInRight 3s ease-in-out;
}

.div-bestsellers-child p {
    /*font-size: 20px;*/
    color: white;
    padding: 10px;
    text-align: justify;
}

.div-bestsellers-child-1 {
    background: linear-gradient(to bottom, #fff200, #dda71a);
}

.div-bestsellers-child-2 {
    background: linear-gradient(to bottom, #ec0964, #d20808);
}

.div-bestsellers-child-3 {
    background: linear-gradient(to bottom, var(--first), var(--second));
}

/*reviews*/

.div-heading {
    background: linear-gradient(var(--first), var(--second));
    padding: 5px 0 5px 0;
}

.heading {
    color: white;
    font-size: 30px;
    margin: 5px 0 5px 0;
    text-align: center;
}

.div-reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
    background-image: url("../images/10.jpg");
    background-size: cover;
}

.div-reviews-child {
    background: linear-gradient(to right bottom, var(--first), var(--second));
    width: 300px;
    border-radius: 10px;
    color: white;
    padding: 15px;
    box-shadow: 1px 1px 1px #ddd;
}

.div-reviews-child hr {
    margin: 5px 0 5px 0;
}

.div-reviews-child p {
    text-align: justify;
    /*font-size: 20px;*/
}

.div-reviews-child img {
    float: right;
    width: 80px;
    border-radius: 50%;
    border: 2px solid white;
    margin-left: 5px;
}

.div-reviews-child:hover {
    transform: scale(1.03);
}

/*
Special offer
 */

.div-offer {
    display: flex;
    justify-content: space-evenly;
    height: 50vh;
}

.div-offer {
    height: 95vh;
    background-image: linear-gradient(
            to right bottom,
            rgba(126, 213, 111, 0.0),
            rgba(40, 80, 131, 0.0)),
    url("../images/1.jpg");
    background-size: cover;
    background-position: top;
    /*clip-path: polygon(0% 0%, 100% 0, 100% 70%, 0 100%);*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.div-offer-child {
    color: white;
    border: 1px white solid;
    text-align: justify;
    flex: 1 1 0;
    padding: 20px;
}

.div-offer-child:hover {
    color: gold;
}

.div-offer-child h1 {
    text-align: center;
}

/*
contacts.html
*/

.div-contacts-background {
    height: 100vh;
    padding: 20px;
    background-image: url("../images/16.jpg");
    background-size: cover;
}

.contacts {
    display: flex;
}

.contactsTitle {
    color: white;
    margin: 10px 0 10px 50px;
    font-size: 32px;
}

.contactsDescr {
    color: var(--dark);
    margin: 10px 0 10px 50px;
    font-size: 14px;
}

.mapContainer {
    height: 70vh;
    width: 65vw;
    background-color: #8832dd;
    margin-left: 50px;
}

.div-contacts-icons {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

.div-contacts-form {
    flex-grow: 3;
    flex-direction: column;
}

.contact-btn {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: linear-gradient(to right bottom, var(--first), var(--second));
    color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    position: relative;
    margin-bottom: 20px;
}

.contact-btn:hover {
    transform: scale(1.04);
}

.contact-btn i {
    line-height: 100px;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.decor {
    position: relative;
    max-width: 400px;
    margin: 50px;
    background: linear-gradient(to right, var(--second), var(--first));
    border-radius: 30px;
  }
  .form-left-decoration,
  .form-right-decoration {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    background: white;
    border-radius: 20px;
  }
  .form-left-decoration {
    bottom: 60px;
    left: -30px;
  }
  .form-right-decoration {
    top: 60px;
    right: -30px;
  }
  .form-left-decoration:before,
  .form-left-decoration:after,
  .form-right-decoration:before,
  .form-right-decoration:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 30px;
    
  }
  .form-left-decoration:before {top: -20px;}
  .form-left-decoration:after {
    top: 20px;
    left: 10px;
  }
  .form-right-decoration:before {
    top: -20px;
    right: 0;
  }
  .form-right-decoration:after {
    top: 20px;
    right: 10px;
  }
  .circle {
    position: absolute;
    bottom: 80px;
    left: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
  }
  .form-inner {padding: 50px;}
  .form-inner input,
  .form-inner textarea {
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: white;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
  }
  .form-inner input[type="submit"] {
    margin-top: 30px;
    background: red;
    border-bottom: 4px solid red;
    color: white;
    font-size: 14px;
  }
  .form-inner textarea {resize: none;}
  .form-inner h3 {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
  }

  /* Product */
.productsBackground {
    background: linear-gradient(to right bottom, black, rgb(97, 83, 83));
}

.productTextBox {
    max-width: 40%;
    max-height: auto;
    border-radius: 10px;
    color: white;
    background: linear-gradient(to right, var(--second), var(--first));
    padding: 10px;
    margin: 10px;
}

.div-left-picture img {
    width: 100%;
    animation: moveInRight ease-in-out 3s;
}

.div-right-picture img {
    width: 100%;
    animation: moveInLeft ease-in-out 3s;
}

.productTextBox ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.productTextBox ul li {
    text-align: left;
}

.productTextBox ul li::before {
    content: "\2022"; /*►*/
    color: white;
    width: 1em;
    margin: 0 10px 0 10px;
}